body {
    background-color: rgb(7,55,99);
    color: rgb(159,197,232);
}
h1 {
    color: white;
    text-align: center;
}
a:link {
    color: greenyellow;
}
a:visited {
    color: yellowgreen;
}
a:hover {
    color: green;
}
a:active {
    color: darkgreen;
}